/* debug codes start */
question { outline : dotted thin red;}
.MathML-Unit, info, question > label:first-child,
instruction, choices, choice, [sectionId="C000M63"] table
{ border : dotted thin green;}
cNum { outline : solid thin lime; }
formula, ci, cn, apply, leq~*, lt~*, gt~*, geq~*, root~*, 
divide~*,plus~*,minus~*,csymbol,selector~*,imaginaryi~*,
log~*,sum~*,neq~*,eq~*,times~*,power~*,
missing:before { content : attr(string); }
math, blank, ref[target^="B"], ref:not([target]) { color : red; }
mtext { color : blue;}
menclose mtext { color :red;}
/* debug codes end */


.menu { display : inline-block; }
.menu:before, .menu:after { content : "|"; }
.menu > a {
margin : 0 0.5em;
font-family : monospace;
}

mtext { font-family : serif;}


math { padding : 0 .2em;
margin : .2em 0;}
math[display="block"] { 
margin : .7em 3em;
text-indent : 0;
text-align : left!important; }
math.frac {line-height : 4; }

mtext:before, mtext:after {
border-right : solid thin transparent;
font-size : .2em;
content : "\2002"; }

/* for spaces of sequence 1,2,3,4,...  */
mfenced[open="\2002"][close="\2002"] > mn:before,
mfenced[open=""][close=""]:not([separators]) > mi:not(:only-child):last-child:before,
mfenced[open=""][close=""]:not([separators]) > mn:not(:first-child):before {
 content : "\2002";
}

.mathblank,
[sectionId^="7"] mi.ref,
[sectionId^="8"] mi.ref,
[sectionId^="9"] mi.ref,
[sectionId^="A"] mi.ref,
[sectionId^="B"] mi.ref,
[sectionId^="C"] mi.ref,
[sectionId^="D"] mi.ref,
[sectionId^="E"] mi.ref,
[sectionId="F000M64"] mi.ref,
[sectionId="H000M44"] mi.ref {
 border : solid 2px;
 font-family : monospace;
 font-weight : bold;
}

mi.ref {
 border-width : 1px;
 font-family : serif;
 font-weight : normal;
}

.mathblank:before, .mathblank:after {
 font-size : 100%!important;
 content : "\2002\2002"!important; /* En space */} 
mi.kana2:before, mi.kana2:after {
 content : "\2002"!important; /* En space */}

/* 上付き下付きのカナ空欄(2番目の要素)には余白は無い */
mmultiscripts > * + .mathblank:before,
mmultiscripts > * + .mathblank:after,
munderover > * + .mathblank:before,
munderover > * + .mathblank:after,
munderover > * + * .mathblank:before,
munderover > * + * .mathblank:after,
msub > * + .mathblank:before,
msub > * + .mathblank:after,
msub > * + * .mathblank:before,
msub > * + * .mathblank:after,
msup > * + .mathblank:before,
msup > * + .mathblank:after,
msup > * + * .mathblank:before,
msup > * + * .mathblank:after 
{ font-family : serif; content : "\2006"!important;}
/* 上付き下付きのカナは、文字を若干大きく */
munderover > * + .mathblank,
msub > * + .mathblank,
msup > * + .mathblank {
 font-size : .8em;
}

/* 式と (n=1,2,3,...) の間の余白 */
mrow.n1:after, mrow.n2:after {
content : "\2002\2002";}


/* bug https://bugzilla.mozilla.org/show_bug.cgi?id=491384 */
mtable[columnalign="left"] mtd { text-align : left; }

[sectionId="C000M63"] table {
 border-collapse : collapse;
/*table-layout : fixed; width : 100%;*/
 text-align : center;
 margin-top : 1em;
}
[sectionId="C000M63"] thead th:not(:first-child),
[sectionId="C000M63"] tbody tr:last-child td {
 border-bottom : solid 2px;
}
[sectionId="C000M63"] tbody th,
[sectionId="C000M63"] td:last-child {
 border-right : solid 2px;
}
[sectionId="C000M63"] th {
 font-weight : normal;
 width : 2.5em;
 height : 2.5em;
}
[sectionId="C000M63"] td {
 border : solid 1px;
 width : 2.5em;
 height : 2.5em;
}

question {
 display : block;
 margin : 2em 0.1em 2em 1em;
 font-family: MathJax_Main, 'Times New Roman','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',/*'メイリオ',Meiryo,*/'ＭＳ Ｐゴシック',sans-serif;
/* font-style : italic;*/
}

question > label:first-child { /* 小問〔１〕, (1)など */
 float :left;
}

br { display : block; height : .7em;}
img + br,
instruction + br,
question + br,
info + br  {display : none; }
info { display : inline-block; margin : 0 1em;}

[sectionId="E000M61"] [id="Q13"] > instruction:nth-of-type(2) > br:first-of-type,
[sectionId="G000M32"] > instruction:last-of-type > br:first-of-type,
[sectionId="H000M42"] [id="Q12"] > instruction:first-of-type > br:nth-last-of-type(2),
[sectionId="J000M44"] [id="Q11"] br:nth-last-of-type(n+2),
[sectionId="9000M61"] [id="Q3"] > instruction > br:first-of-type {
display : inline;}

[sectionId="E000M61"] [id="Q13"] > instruction:nth-of-type(2) > br:first-of-type:after,
[sectionId="G000M32"] > instruction:last-of-type > br:first-of-type:after,
[sectionId="H000M42"] [id="Q12"] > instruction:first-of-type > br:nth-last-of-type(2):after,
[sectionId="J000M44"] [id="Q11"] br:nth-last-of-type(n+2):after,
[sectionId="9000M61"] [id="Q3"] > instruction > br:first-of-type:after {
line-height : 2.5em;
display : inline;
content :"\A\2002\2002\2002\2002\2002\2002";
white-space : pre;
}

instruction {
 margin-left : 2em;
 padding-top : 0.5em;
 display : block;
 text-indent : 1em;
 line-height : 2.5em; /* normal=about 1.81em */
}
[sectionId="G000M31"] [id="Q7"] > instruction:last-of-type,
[sectionId="G000M31"] [id="Q8"] > instruction:last-of-type,
[sectionId="G000M34"] [id="Q12"] > instruction:nth-of-type(2),
[sectionId="G000M44"] [id="Q15"] > instruction:nth-of-type(2),
[sectionId="H000M31"] [id="Q9"] > instruction:nth-of-type(n+2),
[sectionId="H000M41"] [id="Q9"] > instruction:nth-of-type(n+3),
[sectionId="H000M43"] [id="Q16"] > instruction:nth-of-type(2),
[sectionId="J000M31"] [id="Q3"] > instruction:last-of-type,
[sectionId="J000M34"] > instruction:nth-of-type(2n+3),
[sectionId="J000M44"] > instruction:last-of-type,
[sectionId="K000M31"] [id="Q8"] instruction:nth-of-type(2),
[sectionId="K000M44"] > instruction:nth-of-type(2),
[sectionId="L000M31"] [id="Q3"] > instruction:nth-of-type(4),
[sectionId="M000M34"] [id="Q16"] > instruction:nth-of-type(3),
[sectionId="8000M21"] [id="Q3"] > instruction:nth-of-type(2) {
text-indent : 0;
padding-left : 3em;
}
[sectionId="J000M33"] > instruction:last-of-type,
[sectionId="J000M34"] > instruction:nth-last-of-type(2n+3),
[sectionId="K000M33"] > instruction:nth-of-type(4),
[sectionId="K000M41"] [id="Q3"] > instruction:nth-of-type(4),
[sectionId="K000M43"] [id="Q10"] > instruction:nth-of-type(3),
[sectionId="M000M33"] [id="Q13"] > instruction:last-of-type,
[sectionId="M000M34"] [id="Q16"] > instruction:nth-of-type(2n+2),
[sectionId="B000M64"] > instruction:last-of-type {
text-indent : 0;}
[sectionId="C000M62"] [id="Q16"]> instruction:nth-of-type(n+4), 
[sectionId="C000M21"] [id="Q3"]> instruction {
text-indent : 0;
padding-left : 1em;
}



choices {
margin : 1em 0;
margin-left : 2em;
display : block;
text-indent : 0;
}
choice {
 display : inline-block;
 margin-left : 0.5%;
}
cNum {
margin-right : 0.5em;
}
/* for 1 culumn */
[sectionId="7000M64"] choice,
[sectionId="9000M22"] choice,
[sectionId="A000M22"] choice,
[sectionId="A000M24"] choice,
[sectionId="B000M62"] choice,
[sectionId="C000M62"] choice,
[sectionId="D000M62"] choice,
[sectionId="E000M44"] choice,
[sectionId="E000M62"] choice,
[sectionId="F000M22"] choice,
[sectionId="F000M62"] choice,
[sectionId="G000M31"] choice,
[sectionId="H000M31"] [id="Q9"] choice,
[sectionId="H000M41"] choice,
[sectionId="J000M31"] choice,
[sectionId="J000M41"] choice,
[sectionId="K000M31"] choice,
[sectionId="K000M41"] choice,
[sectionId="L000M31"] [id="Q3"] choice,
[sectionId="M000M31"] [id="Q9"] choice {
 min-width : 60%;
}

/* for 2 columns */
[sectionId="D000M83"] choices:first-of-type choice,
[sectionId="F000M84"] choice,
[sectionId="L000M31"] [id="Q2"] choice,
[sectionId="M000M31"] [id="Q7"] choice,
[sectionId="M000M31"] [id="Q8"] choice {
 min-width : 48%;
}

/* for 3 columns */
[sectionId="C000M64"] choices:last-of-type choice,
[sectionId="C000M22"] choice,
[sectionId="C000M24"] choice,
[sectionId="D000M83"] choices:last-of-type choice,
[sectionId="E000M22"] choice,
[sectionId="E000M64"] choice,
[sectionId="F000M24"] choice,
[sectionId="F000M82"] choice,
[sectionId="G000M33"] choice,
[sectionId="G000M41"] choice,
[sectionId="K000M71"] choice,
[sectionId="L000M71"] choice {
 min-width : 32.4%; 
}

/* for 4 columns */
[sectionId="C000M64"] choices:first-of-type choice,
[sectionId="D000M22"] choice,
[sectionId="D000M24"] choice,
[sectionId="J000M74"] choice,
[sectionId="H000M31"] [id="Q10"] choice,
[sectionId="K000M43"] choice,
[sectionId="M000M34"] choice,
[sectionId="M000M73"] choice {
 min-width : 24%; 
}

/* for 5 columns */
[sectionId="B000M64"] choice,
[sectionId="F000M64"] choice,
[sectionId="J000M43"] choice,
[sectionId="K000M44"] choice,
[sectionId="K000M33"] choice,
[sectionId="M000M33"] choice {
min-width : 18%;
}

/* for 6 columns */
[sectionId="E000M24"] choice,
[sectionId="J000M33"] choice {
min-width : 15%;
}

lText { display : table-row;
text-indent : 0;
}

[sectionId="F000M82"] > instruction lText {
text-indent : inherit;
display : block;
}
[sectionId="F000M82"] > instruction lText label {
padding-right : 1em;}

/* (★)  <math>...</math>, F000M80 [2](1), A2 */
lText > label:first-child {
padding-right : 1em;
}
lText > label { text-align : right; }

lText > label, ref[target^="L"],
/* 式番号の参照 答案用番号と見分けをつけるため。*/
[class="number"] {
 color : navy;
 font-weight : bold;
 font-style : italic;
 padding : 0 .3em;
}

lText > math:first-child,
lText > math:first-child ~ math,
lText > math + label {
 display : table-cell;
}
/* lText > label:last-child:before (exception: A000M20) */
lText > math + label:before {
 letter-spacing : .3em;
 margin-left : 1em;
 padding : 0 .5em;
 color : black;
 font-weight : normal;
 font-style : normal;
 content : "\22EF\22EF\22EF\22EF"; /* 22EF */
}

lText > math:first-child {
margin-left : 3em;
}

/* ref missing のカナ桁数はCSSでは取得不可。XSLで対応。*/
ref[target^="B"], ref:not([target]) {
 /* 2度目以降の式外空欄。なお、ref要素は①などにも使われている。 */
 /* 参照先が数式の場合、カナ空欄のtargetは無い */
 border : solid thin;  /* 空欄枠 */
}

[sectionId^="7"] ref:not([target^="L"]),
[sectionId^="8"] ref:not([target^="L"]),
[sectionId^="9"] ref:not([target^="L"]),
[sectionId^="A"] ref:not([target^="L"]),
[sectionId^="B"] ref:not([target^="L"]),
[sectionId^="C"] ref:not([target^="L"]),
[sectionId^="D"] ref:not([target^="L"]),
[sectionId^="E"] ref:not([target^="L"]),
[sectionId^="F000M22"] ref:not([target^="L"]),
[sectionId^="F000M24"] ref:not([target^="L"]),
[sectionId^="F000M62"] ref:not([target^="L"]),
[sectionId^="G000M31"] ref:not([target^="L"]),
[sectionId="G000M41"] [id="Q3"] > instruction ref:not([target^="L"]),
[sectionId^="H000M31"] ref:not([target^="L"]),
[sectionId^="H000M41"] ref:not([target^="L"]),
[sectionId^="J000M31"] ref:not([target^="L"]),
[sectionId^="J000M33"] ref:not([target^="L"]),
[sectionId^="J000M41"] ref:not([target^="L"]),
[sectionId^="J000M43"] ref:not([target^="L"]),
[sectionId^="K000M31"] ref:not([target^="L"]),
[sectionId^="K000M41"] ref:not([target^="L"]),
[sectionId^="K000M44"] ref:not([target^="L"]),
[sectionId^="L000M31"] ref:not([target^="L"]),
[sectionId^="M000M73"] ref:not([target^="L"]),
blank {  /* 初出の式外空欄 */
 font-weight : bold;
 font-family : monospace;
 border : solid 2px;  /* 空欄枠 */
}
[sectionId="F000M42"] [id="Q16"] instruction:first-of-type blank {
 font-weight : normal;
 font-family : serif;
 border : solid 1px;
}


/* no broder bold font */
[sectionId="7000M24"] ref:not([class]):not([target]),
[sectionId="7000M64"] ref:nth-of-type(4) ~ ref:not([class]):not([target]),
[sectionId="8000M64"] ref:not([class]):not([target]),
[sectionId="9000M24"] ref:not([class]):not([target]),
[sectionId="9000M64"] ref:not([class]):not([target]),
[sectionId="A000M24"] > instruction ref:not([class]):not([target]),
[sectionId="A000M61"] ref,
[sectionId="A000M64"] ref:not([class]):not([target]),
[sectionId="B000M24"] ref:not([class]),
[sectionId="B000M64"] ref:nth-of-type(6) ~ ref:not([class]):not([target]),
[sectionId="C000M24"] > instruction:first-of-type ref:not([class]):not([target]),
[sectionId="C000M64"] ref:not([class]):not([target]):not(:last-of-type):not(:nth-last-of-type(2)),
[sectionId="C000M64"] ref[target="B11"],
[sectionId="D000M24"] ref:not([class]):not([target]),
[sectionId="D000M64"] ref:not([class]):not([target])
{
border : none!important;
padding : 0!important;
font-weight : bold!important;
}

blank, ref:not([target^="L"]) {
 font-family : monospace;
 text-indent : 0;
 line-height : normal;
 display : inline-block;
 padding : .1em .5em;
 text-align : center;
 margin : 0 0.2em;
}
ref:not([target^="L"]) { 
font-family : serif;
padding : .1em 1em;}
[class="refkana2"] { padding : .1em .5em!important; }
blank[digits="1"] { padding : .1em 1em; }


[sectionId="K000M83"] [id="Q9"] instruction:first-of-type math:nth-of-type(7),
[sectionId="K000M83"] [id="Q9"] instruction:last-of-type math:nth-of-type(3),
[sectionId="K000M83"] [id="Q10"] instruction:last-of-type math:nth-of-type(3)
{ padding : 0 3em; }

[sectionId="8000M81"] [id="Q16"] instruction:last-of-type math:first-of-type,
[sectionId="9000M64"] instruction:last-of-type math:first-of-type,
[sectionId="C000M21"] [id="Q3"] > instruction:nth-of-type(3) math:nth-last-of-type(2n+3),
[sectionId="C000M21"] [id="Q3"] > instruction:nth-of-type(4) math:nth-last-of-type(2n+5),
[sectionId="C000M62"] [id="Q16"] > instruction:nth-of-type(2) math:first-of-type,
[sectionId="C000M82"] > instruction:nth-of-type(2) math:first-of-type,
[sectionId="F000M62"] [id="Q14"] > instruction:nth-of-type(2n+2) math:first-of-type,
[sectionId="G000M31"] [id="Q3"] > instruction:last-of-type math:first-of-type,
[sectionId="G000M72"] > instruction:last-of-type math:first-of-type,
[sectionId="H000M41"] [id="Q9"] > instruction:nth-of-type(2) math:first-of-type,
[sectionId="J000M31"] [id="Q3"] > instruction:nth-of-type(3) math:first-of-type,
[sectionId="K000M31"] [id="Q3"] > instruction:last-of-type math:first-of-type,
[sectionId="K000M41"] [id="Q3"] > instruction:nth-of-type(3) math:first-of-type,
[sectionId="K000M41"] [id="Q3"] > instruction:nth-of-type(n+5) math:first-of-type,
[sectionId="L000M31"] [id="Q3"] > instruction:nth-of-type(3) math:first-of-type,
[sectionId="M000M31"] [id="Q3"] > instruction:nth-of-type(2) math:first-of-type,
[sectionId="B000M23"] [id="Q19"] instruction:last-of-type math:first-of-type
{ padding-left : 2.2em; /* for first line indent 1em */}

[sectionId="8000M82"] [id="Q5"] instruction:first-of-type math:nth-of-type(4), 
[sectionId="8000M82"] [id="Q5"] instruction:first-of-type math:nth-of-type(5), 
[sectionId="B000M42"] [id="Q6"] instruction:last-child math:nth-last-of-type(1), 
[sectionId="B000M42"] [id="Q6"] instruction:last-child math:nth-last-of-type(3), 
[sectionId="C000M21"] [id="Q12"] instruction:first-of-type math:nth-of-type(4), 
[sectionId="C000M21"] [id="Q12"] instruction:first-of-type math:nth-of-type(6), 
[sectionId="C000M21"] [id="Q3"] instruction:first-of-type math:nth-of-type(6), 
[sectionId="C000M62"] [id="Q16"] > instruction:nth-of-type(2) math:nth-of-type(7),
[sectionId="D000M61"] [id="Q10"] instruction:first-of-type math:nth-of-type(5), 
[sectionId="D000M61"] [id="Q10"] instruction:first-of-type math:nth-of-type(7), 
[sectionId="E000M41"] [id="Q10"] math:nth-of-type(2n+3),
[sectionId="F000M22"] [id="Q6"] > instruction:last-of-type math:nth-last-of-type(3),
[sectionId="F000M42"] [id="Q16"] > instruction:last-of-type math:nth-last-of-type(7),
[sectionId="G000M31"] [id="Q2"] > instruction:first-of-type math:nth-of-type(3n+7),
[sectionId="G000M81"] [id="Q12"] math:nth-last-of-type(2),
[sectionId="H000M32"] [id="Q12"] > instruction:nth-of-type(2) math:nth-of-type(2n+5),
[sectionId="J000M32"] > instruction:last-of-type br + math,
[sectionId="J000M44"] [id="Q10"] br + math,
[sectionId="J000M82"] [id="Q11"] > instruction:last-of-type math:nth-of-type(14),
[sectionId="K000M41"] [id="Q3"] > instruction:nth-of-type(3) math:nth-last-of-type(3),
[sectionId="L000M31"] [id="Q2"] > instruction:nth-of-type(2) math:nth-of-type(2),
[sectionId="B000M41"] [id="Q12"] instruction math:nth-of-type(4), 
[sectionId="B000M41"] [id="Q12"] instruction math:nth-of-type(5)
{ padding-left : 3.2em;}

[sectionId="C000M21"] [id="Q12"] instruction:first-of-type math:nth-of-type(6) 
{ padding-right : 1.9em;}

[sectionId="J000M72"] [id="Q15"] math:nth-of-type(12), 
[sectionId="J000M72"] [id="Q15"] math:nth-of-type(14), 
[sectionId="J000M72"] [id="Q15"] math:nth-of-type(16), 
[sectionId="C000M21"] [id="Q12"] instruction:first-of-type math:nth-of-type(5), 
[sectionId="C000M21"] [id="Q12"] instruction:first-of-type math:nth-of-type(7)
{ padding-left : 1em;}

[sectionId="D000M81"] [id="Q3"] math:nth-of-type(3),
[sectionId="E000M44"] [id="Q17"] > instruction:last-of-type math:nth-last-of-type(2)
{ padding-right : 1em;}

[sectionId="9000M22"] choices {
margin-left : 3em;
}

[sectionId="H000M43"] [id="Q16"] > instruction:last-of-type,
[sectionId="B000M44"] [id="Q16"] instruction:last-child
{ text-indent : 0; }
[sectionId="H000M43"] [id="Q16"] > instruction:last-of-type:first-letter,
[sectionId="B000M44"] [id="Q16"] instruction:last-child:first-letter
{ font-weight : bold;
padding-right : 1em; }

[sectionId="C000M64"] instruction:last-of-type,
[sectionId="J000M32"] instruction:nth-of-type(3n+2),
[sectionId="C000M22"] [id="Q18"] instruction:last-child {
text-indent : 0;}
