.exam_body {
	color: #595959;
	font-size: 12px;
	line-height: 20px;
	font-family: sans-serif;
}
.exam_section {
	font-size: 18px;
	margin: 2px 0;
}
.exam_instruction {
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 20px;
}
.exam_sentence {
	font-size: 12px;
	line-height: 20px;
	margin-top: 2px;
	margin-bottom: 20px;
}
.exam_sentence_image {
	margin-top: 10px;
	margin-bottom: 20px;
}
.exam_question {
	font-size: 16px;
}
.exam_question_sentence {
	font-size: 12px;
	line-height: 20px;
}
.exam_question_answer_column {
	border: 1px solid #595959;
	font-size: 12px;
}
.exam_question_answer_choices {
	width: 90%;
	border: 1px solid #eea835;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}
.exam_question_answer_correct {
/*	color: #00479d;*/
/*	font-weight: bold;*/
	padding: 2px;
}
.exam_question_answer_wrong {
/*	color: #E41C27;*/
/*	font-weight: bold;*/
	padding: 2px;
}
.exam_question_answer_highlight {
	background-color: #c4f094;
	padding: 2px;
}
.exam_question_evidence {
	background-color: #F5E4C2;
	margin: 2px 24px;
	padding: 10px 14px;
	display: none;
}
.exam_question_random_answer {
	font-size: 12px;
	padding-left: 20px;
	padding-top: 10px;
}
.exam_question_answer_knowledge_type {
	font-size: 12px;
	display: block;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 30px;
}
td {
	border-width: 0px;
	padding 1px 0;
}
